<div class="login-form-container" [hidden]="isHidden">
    <div class="event" (click)="close()"></div>
    <div class="form">
  
  
  
              <div class="card-body">
                <h5 class="card-title text-center">Register</h5>
                <div class="notif">
                  <nz-alert nzType="success" nzMessage="{{notif.message}}" *ngIf="notif.status == 'success'" nzShowIcon></nz-alert>
                  <nz-alert nzType="error" nzMessage="{{notif.message}}" *ngIf="notif.status == 'wrong'" nzShowIcon></nz-alert>
                  <br>
                </div>
                <form class="form-signin">
                  <div class="">
                      <input id="register-username" type="text" class="form-control" name="username" value="" placeholder="username" [(ngModel)]="userForm.username">
                  </div>
                  <div class="space"></div>
                  <div class="">
                    <input id="register-password" type="password" class="form-control" name="password" placeholder="password" [(ngModel)]="userForm.password">
                </div>
                <div class="space"></div>
                  <div class="">
                      <input id="register-email" type="text" class="form-control" name="email" value="" placeholder="email" [(ngModel)]="userForm.email">
                  </div>
                  <div class="space"></div>
                  <div class="">
                      <input id="register-fullName" type="text" class="form-control" name="fullName" value="" placeholder="full name" [(ngModel)]="userForm.fullName">
                  </div>
                  <div class="space"></div>
                  <button class="btn btn-lg btn-primary btn-block text-uppercase btn-form" (click)="signUp()">Sign up</button>
                </form>
                  <hr class="my-4">
                  <button class="btn btn-lg btn-google btn-block text-uppercase" (click)="socialSignUp('google')"><i class="fab fa-google mr-2"></i> Sign up with Google</button>
                  <button class="btn btn-lg btn-facebook btn-block text-uppercase" (click)="socialSignUp('facebook')"><i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook</button>
               
                  <div class="space"></div>
                  <div class="form-group">
                    <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                        Already have an account! 
                        <a (click)="switchToLogin()">
                          Sign In Here
                        </a>
                    </div>
                  </div>  
               
              </div>
  
  
  
  
    </div>
  </div>