<section class="flat-upcoming-events style2">
  <div class="overlay"></div>
  <div class="container">
      <div class="flat-title flat-text-center">
          <h1 class="title color-fff">Upcoming Events</h1>
      </div>
      <div class="flat-events style3">
          <div class="row">
              <div class="col-lg-4 col-md-12 col-sm-12">
                  <div class="event style3   flat-text-center">
                      <div class="event-img">
                          <a href="#"><img src="../../../../assets/images/events/event-index2-1.png" alt="bookflare"></a>
                      </div>
                      <div class="event-content">
                          <h4 class="title"><a href="#">Start Up Meet'up</a></h4>
                          <p class="description">Lobortis arcu, a vestibulum augue. Vivamus ipsum neque, facilisis vel mollis vitae.</p>
                          <div class="meta-list">
                              <ul class="list">
                                  <li class="address"><a href="#">Monastir TN</a></li>
                                  <li class="time"><a href="#">16 : 00</a></li>
                              </ul>
                          </div>
                          <div class="meta-date flat-text-center bg-0046d4">
                              <p class="day">25</p>
                              <p class="month">JUNE</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12 ">
                  <div class="event style3  flat-text-center">
                      <div class="event-img">
                          <a href="#"><img src="../../../../assets/images/events/event-index2-2.png" alt="bookflare"></a>
                      </div>
                      <div class="event-content ">
                          <h4 class="title"><a href="#">Ideas Hakathon</a></h4>
                          <p class="description">Lobortis arcu, a vestibulum augue. Vivamus ipsum neque, facilisis vel mollis vitae.</p>
                          <div class="meta-list">
                              <ul class="list">
                                  <li class="address"><a href="#">Sousse TN</a></li>
                                  <li class="time"><a href="#">16 : 00</a></li>
                              </ul>
                          </div>
                          <div class="meta-date flat-text-center bg-ffa81e">
                              <p class="day">12</p>
                              <p class="month">JULY</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12">
                  <div class="event style3  flat-text-center">
                      <div class="event-img">
                          <a href="#"><img src="../../../../assets/images/events/event-index2-3.png" alt="bookflare"></a>
                      </div>
                      <div class="event-content">
                          <h4 class="title"><a href="#">Summer Innovation Camp</a></h4>
                          <p class="description">Lobortis arcu, a vestibulum augue. Vivamus ipsum neque, facilisis vel mollis vitae.</p>
                          <div class="meta-list">
                              <ul class="list">
                                  <li class="address"><a href="#">Tunis TN</a></li>
                                  <li class="time"><a href="#">16 : 00</a></li>
                              </ul>
                          </div>
                          <div class="meta-date flat-text-center bg-f64260">
                              <p class="day">16</p>
                              <p class="month">JULY</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section> <!-- /.flat-upcoming-events -->