<app-login-form [isHidden]="login_form_hidden"></app-login-form>
<app-register-form [isHidden]="register_form_hidden"></app-register-form>

<nav class="navbar navbar-inverse navbar-expand-xl navbar-dark">
        <div class="navbar-header d-flex col">
            <a href="/"><img src="../../../assets/images/logo/logo.png" class="navbar-logo" alt=""></a>  		
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="navbarCollapse" class="navbar-toggle navbar-toggler ml-auto">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">		
            <form class="navbar-form form-inline">
                <div class="input-group search-box">								
                    <input type="text" id="search" class="form-control" placeholder="Search here...">
                    <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
                </div>
            </form>
            <!-- if there is no logged-user  -->

            <ul class="nav navbar-nav navbar-right ml-auto" *ngIf="!loggedUser">
                    <li class="nav-item"><a class="nav-link" (click)="openLoginForm()"><span>LOGIN</span></a></li>
                    <li class="nav-item"><a class="nav-link" (click)="openRegisterForm()"><span>REGISTER</span></a></li>
                </ul>
            <!-- if we found a logged-user -->
            <ul class="nav navbar-nav navbar-right ml-auto" *ngIf="loggedUser">
                <li class="nav-item active"><a href="#" class="nav-link"><i class="fa fa-home"></i><span>Home</span></a></li>
                <li class="nav-item"><a [routerLink]="['/add-project']" class="nav-link"><i class="fa fa-gears"></i><span>Add project</span></a></li>
                <li class="nav-item"><a [routerLink]="['/messages']" class="nav-link"><i class="fa fa-envelope"></i><span>Messages</span></a></li>		
                <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-bell"></i><span>Notifications</span></a></li>
                <li class="nav-item dropdown">
                    <a data-toggle="dropdown" class="nav-link dropdown-toggle user-action">
                        <img src="../../../assets/{{loggedUser.profilpic}}" class="avatar" alt="Avatar" *ngIf="!externelPorfilPicUrl(loggedUser.profilpic)">
                        <img src="{{loggedUser.profilpic}}" class="avatar" alt="Avatar" *ngIf="externelPorfilPicUrl(loggedUser.profilpic)">
                        {{loggedUser.fullName}}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['/myprofile']" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a></li>
                        <li><a href="#" class="dropdown-item"><i class="fa fa-calendar-o"></i> Calendar</a></li>
                        <li><a [routerLink]="['/myprofile/setting']"  class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li><a class="dropdown-item" (click)="logOut()"><i class="material-icons" >&#xE8AC;</i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>                                                     