<app-login-form [isHidden]="login_form_hidden"></app-login-form>
<app-register-form [isHidden]="register_form_hidden"></app-register-form>

<div class="top border-bt-d1d1ff style2">
  <div class="overlay"></div>
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-12">
              <div class="flat-info">
                  <ul>
                      <li class="phone"><a href="#">+216 50 05 05 63</a></li>
                      <li class="mail"><a href="#">contact@mystart.com</a></li>
                  </ul>
              </div>
          </div> <!-- /.col-md-3 -->
          <div class="col-lg-8 col-md-12 pd-left-0">
              
              <div class="flat-adds flat-text-right">
                <!--  <p>Enjoy A New Student Discount All <span class="font-Roboto font-weight-700 underline-text">55,000 Courses</span> on sale for <span class="font-Hall font-weight-700 letter-spaceing-top">Only </span> <span class="font-Playfair font-weight-700 letter-spaceing-top">$12.99 </span> </p><p class="font-weight-700 datetime">Ends in 05h 23m 49s </p>
                -->
                </div> <!-- /.flat-adds -->
              <div class="flat-action flat-text-right style1">
                  <ul *ngIf="!loggedUser">
                      <li (click)="openLoginForm()"><span class="form-btn">LOGIN</span></li>
                      <li (click)="openRegisterForm()"><span class="form-btn">REGISTER</span></li>
                  </ul>
                  <ul *ngIf="loggedUser">
                    <li (click)="logOut()"><span class="form-btn">LOGOUT</span></li>
                </ul>
              </div> <!-- /.flat-action -->
          </div> <!-- /.col-md-9 -->
      </div> <!-- /.row -->
  </div> <!-- /.container -->
</div> <!-- /.top -->