<button nz-button (click)="loadData()" nzType="primary"><i class="fas fa-redo-alt"></i> Reload</button>
<br><br>
<nz-table #basicTable [nzData]="dataSet" nzBordered >
  <thead>
    <tr>
      <th nzWidth="30px">Nb.</th>
      <th nzWidth="120px">Photo</th>
      <th>Title</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of courses; index as i">
      <td>{{ i+1 }}</td>
      <td>
        <img class="photo" src="../../../assets/{{course.coverImg}}" alt="">
      </td>
      <td>{{ course.title }} </td>
      <td>
        <span class="badge badge-dark price" *ngIf="course.price != 0">{{ course.price }} TND</span>
        <span class="badge badge-light price" *ngIf="course.price == 0">FREE</span>
      </td>
      <td>
        <button type="button" class="btn btn-outline-secondary" (click)="view(course._id)">
          <i class="fas fa-external-link-alt"></i> View
        </button>
        <span class="mySpace"></span>
        <button type="button" class="btn btn-outline-danger" nz-popconfirm nzTitle="Unsubscribe from this course ?"
        (nzOnConfirm)="loadData()">
          <i class="fas fa-trash-alt"></i> Unsubscribe
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>