<div class="bottom bg-15222e">
    <div class="container">
        <div class="logo-social-outer">
          <div class="">
            <a href="/"> <img src="../../../assets/images/logo/logo-ft.png" alt="Mystart logo" class="logo"> </a>
          </div>
          <div class="logo-social-inner store">
              <a href="{{footerData.appStore}}" target="_blank"> <img src="../../../assets/images/footer/appstore.png" alt="" class="logo"> </a>
              <div class="space logo-social-inner"></div>
              <a href="{{footerData.playStore}}" target="_blank"> <img src="../../../assets/images/footer/playstore.png" alt="" class="logo"> </a>
          </div>
        </div>
        <div class="row">
            <div class="  col-md-6">
                <div class="copyright flat-text-left">
                    <p>© Copyright 2019 <a href="#">Mystart</a>. All Rights Reserved.</p>
                </div>
            </div>
            <div class="  col-md-6">
                <div class="widget flat-text-right no-border">
                    <ul class="list">
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Cookie Policy</a></li>
                        <li><a href="#">About Us</a></li>                    
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /.bottom -->
<a id="scroll-top"></a>