.logo-social-outer {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.logo-social-inner {
    display: inline-block;
  }

.logo {
    height: 40px;
}

.logo:hover {
    opacity: 0.6;
    filter: grayscale(60%);
}
.space {
    width: 10px;
}

.store {
    margin-top: 20px;
}