<div class="flat-slider style3">
  <!-- SLIDER -->
  <div class="rev_slider_wrapper fullwidthbanner-container" >
      <div id="rev-slider3" class="rev_slider fullwidthabanner" data-version="5.4.8">
          <ul>
              <!-- Slide 1 -->
              <li data-transition="random">
                  <!-- Main Image -->
                  <img src="../../../assets/images/slider/slider-3.png" alt="bookflare"  class="rev-slidebg" 
                  data-bgposition="center center" 
                  data-bgfit="cover" 
                  data-bgrepeat="no-repeat" 
                  data-bgparallax="15" >
                  <div class="overlay"></div>

                  <!-- Layers --> 
                  <div class="tp-caption tp-resizeme font-Poppins font-weight-700 color-fff letter-spaceing-001"
                  data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                  data-y="['middle','middle','middle','middle']" data-voffset="['-172','-172','-72','-72']"
                  data-fontsize="['60','60','40','32']"
                  data-lineheight="['70','60','45','28']"
                  data-width="full"
                  data-height="none"
                  data-whitespace="normal"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];" 
                  data-mask_out="x:inherit;y:inherit;" 
                  data-start="1000" 
                  data-splitin="none" 
                  data-splitout="none"
                  data-textAlign="['center','center','center','center']" 
                  data-paddingright="['0','0','0','0']"
                  data-responsive_offset="on"  >Make your own "SUCCESS STORY"</div> 

                  <div class="tp-caption tp-resizeme color-fff"
                  data-x="['center','center','center','center']" data-hoffset="['0','','0','0']"
                  data-y="['middle','middle','middle','middle']" data-voffset="['-65','-65','27','27']"
                  data-fontsize="['20','20','16','14']"
                  data-lineheight="['32','32','22','20']"
                  data-width="full"
                  data-height="none"
                  data-whitespace="normal"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                  data-mask_in="x:0px;y:[100%];" 
                  data-mask_out="x:inherit;y:inherit;" 
                  data-start="1000" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 
                  data-textAlign="['center','center','center','center']" 
                  data-paddingright="['175','0','0','0']"
                  data-paddingleft="['175','0','0','0']"
                  > Lorem ipsum dolor sit amet. 
                   quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </div>
                  <div class="tp-caption "
                  data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                  data-y="['middle','middle','middle','middle']" data-voffset="['56','67','153','123']"
                  data-width="full"
                  data-height="none"
                  data-whitespace="normal"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                  data-mask_in="x:0px;y:[100%];" 
                  data-mask_out="x:inherit;y:inherit;" 
                  data-start="1000" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 
                  data-textAlign="['center','center','center','center']" ><a href="#" class="flat-button btn-start-slider border-ra4 v2">  START A COURSE</a> </div>
              </li><!-- /End Slide 1 -->    
          </ul>
      </div>
  </div> 
</div> <!-- /.flat-slider -->