  <app-page-title [params]="params"></app-page-title>
  <br><br><br>



<div class="container">
  <div class="row">
      <div class="col-lg-8 col-md-12"   >
          <div class="content-page-wrap">
              <div class="course-single">
                  <div class="img-single">
                      <a href="#"><img src="../../../assets/{{project.coverImg}}" alt="bookflare"></a>
                  </div> <br>
                  <div class="content">
                      <div class="row">
                          <div class="col-md-6">
                          </div>
                          <div class="col-md-6">
                              <div class="wrap-cart flat-text-right">
                                  <a href="#" class="flat-button btn-buy border-ra4 float-right">CONTACT NOW</a>
                              </div>  
                          </div>
                      </div>
                      <div class="author border-t-e6f3ff">
                          <div class="author-avata">
                              <img src="../../../assets/{{project.authorRes[0].profilePic}}" class="profile-pic" alt="bookflare">
                          </div>
                          <div class="author-info">
                              <h6 class="name"><a href="/profile/{{project.authorRes[0].username}}">{{project.authorRes[0].username}}</a></h6>
                              <div class="wrap-list">
                                  <ul class="list meta-list">
                                      <li>
                                          <span class="title">Categories:</span>
                                          <a href="#"><span >{{project.category}}</span></a>
                                      </li>
                                      <li>
                                        <span class="font-weight-700"> Sep 07, 2018</span>
                                      </li>
                                  </ul>
                              </div>
                          </div> 
                      </div>
                  </div>
              </div> <!-- /.course-single -->
              <div class="flat-tabs bg-fff border-ra4 border-f-e6f3ff">
                  <ul class="tab-title style1 clearfix border-bt-e6f3ff"> 
                      <li class="item-title  overview">
                          <span class="inner">OVERVIEW</span>
                      </li>
                      <li class="item-title event">
                          <span class="inner">DESCRIPTION</span>
                      </li>
                      <li class="item-title requirements">
                          <span class="inner">ATTACHMENTS</span>
                      </li>

                  </ul>
                  <div class="tab-content-wrap">
                      <div class="tab-content">
                          <div class="item-content">
                            <p>{{project.overview}}</p>
                          </div>
                      </div>
                      <div class="tab-content">
                          <div class="item-content">
                            <p>{{project.description}}</p>
                          </div>
                      </div>
                      <div class="tab-content">
                          <div class="item-content">
                            <ul>
                                <li *ngFor="let attachment of project.attachments"><a href="#">{{attachment}}</a></li>
                            </ul>
                          </div>
                      </div>
                  </div>
              </div> <!-- /.flat-tabs -->
              <br>
              <div class="fb-comments">
                  <fb-comments></fb-comments>
              </div>
          </div> <!-- /.content-page-wrap -->
      </div>
      <div class="col-lg-4 col-md-12">
          <div class="sidebar-right">
              <div class="flat-courses style3">
                  <div class="course style3  text-fb868f ">
                      <div class="course-border border-f-e6f3ff border-ra4 transition-vline">   
                          <div class="course-img img-vline">
                              <a href="#"><img src="../../../assets/images/sidebar/course-sidaber-1.png" alt="bookflare"></a>
                              <div class="overlay">
                                  <span class="vline"></span>
                                  <span class="vline vline-bottom"></span>
                              </div>
                          </div>
                          <div class="course-content">
                              <div class="text-wrap border-bt-e6f3ff">
                                  <p class="teacher"><a href="#">Erika P. Sera</a></p>
                                  <h6 class="title"><a href="#">Complete Java Masterclass</a></h6>
                                  <div class="wrap-rating">
                                      <ul class="list star-list">
                                          <li><i class="far fa-star"></i></li>
                                          <li><i class="far fa-star"></i></li>
                                          <li><i class="far fa-star"></i></li>
                                          <li><i class="far fa-star"></i></li>
                                          <li><i class="far fa-star-half"></i></li>
                                      </ul>
                                      <span>4.7 (2,632)</span>
                                  </div>
                                  <span class="price v2">$44.00</span>
                              </div>
                          </div>
                      </div>
                  </div> <!-- /.course -->
                  <div class="course style3  text-2ebd59   ">
                      <div class="course-border border-f-e6f3ff border-ra4 transition-vline">   
                          <div class="course-img img-vline">
                              <a href="#"><img src="../../../assets/images/sidebar/course-sidaber-2.png" alt="bookflare"></a>
                              <div class="overlay">
                                  <span class="vline"></span>
                                  <span class="vline vline-bottom"></span>
                              </div>
                          </div>
                          <div class="course-content">
                              <div class="text-wrap border-bt-e6f3ff">
                                  <p class="teacher"><a href="#">Charlotte H. Bronk</a></p>
                                  <h6 class="title"><a href="#">Node.js Developer Course</a></h6>
                                  <div class="wrap-rating">
                                      <ul class="list star-list">
                                          <li><i class="far fa-star"></i></li>
                                          <li><i class="far fa-star"></i></li>
                                          <li><i class="far fa-star"></i></li>
                                          <li><i class="far fa-star"></i></li>
                                          <li><i class="far fa-star"></i></li>
                                      </ul>
                                      <span>5.0  (980)</span>
                                  </div>
                                  <span class="price v2">FREE</span>
                              </div>
                          </div>
                      </div>
                  </div> <!-- /.course -->
              </div>
          </div>
      </div>    
  </div>  
</div> <!-- /.container -->


<br><br>