<div id="header" class="bg-fff">
  <div class="container">
      <div class="header-wrap clearfix">
          <div id="logo">
              <a href="index.html"><img src="../../../assets/images/logo/logo.png" alt="bookflare" width="157" height="29" data-retina="../../../assets/images/logo/logo@2x.png" data-width="157" data-height="29"></a>
          </div>
          <div class="nav-wrap flat-text-right style1">
              <nav id="main-nav">
                  <ul class="menu" >
                      <li> </li>
                      <li class="{{amIActive[1]}}">
                          <a href="#">HOME</a>
                      </li>
                      <li class="{{amIActive[2]}}">
                          <a href="#">PROJECTS</a>
                      </li>
                      <li class="{{amIActive[3]}}">
                          <a href="#">EXPERTS</a>
                          <ul class="submenu">
                            <li><a href="#">List of experts</a></li>
                            <li><a href="#">Questions area</a></li> 
                        </ul>
                        </li>
                      <li class="{{amIActive[4]}}">
                          <a href="#">OFFERS</a>
                      </li>
                      <li class="{{amIActive[5]}}">
                          <a href="#">COURSES</a>
                      </li>
                      <li class="{{amIActive[6]}}">
                          <a href="#">EVENTS</a>
                      </li>      
                      <li class="{{amIActive[7]}}">
                          <a href="#">BLOG</a>
                      </li>                                          
                  </ul>
              </nav>
          </div>

          <div class="extra-menu flat-text-right clearfix">
              <div class="wrap-search-header">
                  <div class="search-header">
                      <form>
                          <input type="search" name="key" placeholder="Search for Courses">
                          <button class="btn-search"><span class="icon-search"></span></button>
                      </form>
                  </div>
              </div>
          </div>
          <div class="mobile-button">
              <span></span>
          </div>
      </div>
  </div>
</div> <!-- #header -->