<div class="container">

    <!--*********** carousel ************-->
    <br>
    
    <nz-carousel nzAutoPlay>
        <div nz-carousel-content *ngFor="let index of array">
          <div class="info">
            <a href=""><h1>{{index}}</h1></a>
          </div>
          <div class="bg-img">
              <img src="../../../assets/myDocs/articles/art3.jpg" alt="">
          </div>
          <div class="bg-color">
          </div>
        </div>
      </nz-carousel>
    
      <br><br>
  
      <!-- ****  featured posts -->
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-success">World</strong>
            <h3 class="mb-0">
              <a class="text-dark" href="#">Featured post</a>
            </h3>
            <div class="mb-1 text-muted">Nov 12</div>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <a href="#">Continue reading</a>
          </div>
          <img src="../../../assets/myDocs/articles/art3.jpg" class="card-img-right flex-auto d-none d-md-block" alt="Card image cap">
        </div>
      </div>
      <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-success">Design</strong>
            <h3 class="mb-0">
              <a class="text-dark" href="#">Post title</a>
            </h3>
            <div class="mb-1 text-muted">Nov 11</div>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <a href="#">Continue reading</a>
          </div>
          <img src="../../../assets/myDocs/articles/art2.jpg" class="card-img-right flex-auto d-none d-md-block" alt="Card image cap">
        </div>
      </div>
    </div>

    <!-- filter --> <br>
    <div  style="text-align: center;" class="cat-filter">
        <h5>
            <span class="cat-btn-filter {{isCatActive('All')}}" (click)="filterByCat('All')" >All</span>
            <span *ngFor="let category of categories"> <span  class="seperator-filter" > | </span>
               <span class="cat-btn-filter {{isCatActive(category.name)}}" (click)="filterByCat(category.name)">
                   {{category.name}}
                </span>
            </span>
        </h5>
      </div><br>

    <!-- articles -->
    
    <div nz-row>
      <div nz-col [nzXs]="{ span: 24, offset: 0 }" [nzLg]="{ span: 7, offset: 1 }" class="card" *ngFor="let index of array">
        <img class="card-img-top" src="../../../assets/myDocs/articles/art2.jpg" alt="Card image cap">
        <div class="card-body" style="">  
          <h5 class="card-title">Card title</h5>
          <hr style="padding: 0; margin: 0;">
          <p class="a" style="font-size: 14px; padding: 0; margin: 0;">
            <a class="username" href="profile/test"><i class="fas fa-user-tie"></i> test</a>
            <span class="cat" style="color: grey"> | <i class="fas fa-folder"></i> category: test</span>
          </p>
          <hr style="padding: 0; margin: 0;">
          <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
        </div>
      </div>
    </div>
    
    <div class="load-more" style="text-align: center;" *ngIf="!((pagination.cuurentPage * pagination.pageSize) >= pagination.itemSize)">
      <nz-spin nzSimple [nzSize]="'large'" [hidden]="!loading"></nz-spin>
      <button nz-button nzType="primary" nzSize="large" (click)=loadNewData() [hidden]="loading">Load more</button>
    </div>
    <br>
</div>