<div class="container">

    <!--*********** carousel ************-->
    <br>
    
    <nz-carousel nzAutoPlay>
        <div nz-carousel-content *ngFor="let post of sliderContent">
          <div class="info">
            <a href="article/{{post._id}}"><h1>{{post.title}}</h1></a>
          </div>
          <div class="bg-img">
              <img src="../../../assets/{{post.coverImg}}" alt="">
          </div>
          <div class="bg-color">
          </div>
        </div>
      </nz-carousel>
    
      <br><br>
  
      <!-- ****  featured posts -->
    <div class="row mb-2">
      <div class="col-md-6" *ngFor="let post of featuredContent">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-success">{{post.category}}</strong>
            <h3 class="mb-0">
              <a class="text-dark" href="article/{{post._id}}">{{post.title}}</a>
            </h3>
            <div class="mb-1 text-muted">Nov 12</div>
            <p class="card-text mb-auto">{{post.content}}</p>
            <a href="article/{{post._id}}">Continue reading</a>
          </div>
          <img src="../../../assets/{{post.coverImg}}" class="card-img-right flex-auto d-none d-md-block" alt="Card image cap">
        </div>
      </div>
    </div>

    <!-- filter --> <br>
    <div  style="text-align: center;" class="cat-filter">
        <h5>
            <span class="cat-btn-filter {{isCatActive('all')}}" (click)="filterByCat('all')" >All</span>
            <span *ngFor="let category of categories"> <span  class="seperator-filter" > | </span>
               <span class="cat-btn-filter {{isCatActive(category.name)}}" (click)="filterByCat(category.name)">
                   {{category.name}}
                </span>
            </span>
        </h5>
      </div><br>

    <!-- articles -->
    <div class="noData" style="text-align: center; margin-bottom: 100px" *ngIf="pagination.itemSize < 1">
        <h2>No data to display !</h2>
    </div> <!-- No data msg -->

    <div nz-row>
      <div nz-col [nzXs]="{ span: 24, offset: 0 }" [nzLg]="{ span: 7, offset: 1 }" class="card post-card" *ngFor="let post of posts">
        <img class="card-img-top" src="../../../assets/{{post.coverImg}}" alt="Card image cap">
        <div class="card-body" style="">  
          <h5 class="card-title">{{post.title}}</h5>
          <hr style="padding: 0; margin: 0;">
          <p class="a" style="font-size: 14px; padding: 0; margin: 0;">
            <a class="username" href="expert/{{post.authorRes[0].username}}"><i class="fas fa-user-tie"></i> {{post.authorRes[0].username}}</a>
            <span class="cat" style="color: grey"> | <i class="fas fa-folder"></i> category: {{post.category}}</span>
          </p>
          <hr style="padding: 0; margin: 0;">
          <p class="card-text">{{post.content}}</p>
        </div>
      </div>
    </div>
    
    <div class="load-more" style="text-align: center;" *ngIf="!((pagination.cuurentPage * pagination.pageSize) >= pagination.itemSize)">
      <nz-spin nzSimple [nzSize]="'large'" [hidden]="!loading"></nz-spin>
      <button nz-button nzType="primary" nzSize="large" (click)=loadNewData() [hidden]="loading">Load more</button>
    </div>
    <br>
</div>