  <app-page-title [params]="params"></app-page-title>
  <br><br><br>

 
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 ">
                <div class="content-page-wrap ">
                    <div class="event-detail">
                        <div class="img-single">
                            <a href="#"><img src="../../../assets/images/events/event-detail.png" alt="bookflare"></a>
                        </div>
                        <div class="content">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="author">
                                        <div class="author-avata">
                                            <img src="../../../assets/images/events/author-teacher.png" alt="bookflare">
                                        </div>
                                        <div class="author-info">
                                            <h4 class="name"><a href="#">Organized by Google</a></h4>
                                            <p class="text color-192836">Google LLC is an American multinational technology company</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="wrap-btn flat-text-right">
                                        <a href="#" class="flat-button btn-get-ticket">GET TICKET</a>
                                    </div>
                                </div>    
                            </div>
                        </div>
                    </div> <!-- /.event-detail -->
                    <div class="flat-tabs bg-fff border-ra4 border-f-e6f3ff">
                        <ul class="tab-title style1 clearfix border-bt-e6f3ff"> 
                            <li class="item-title  overview">
                                <span class="inner">OVERVIEW</span>
                            </li><li class="item-title event">
                                <span class="inner">EVENT PARTICIPANTS</span>
                            </li><li class="item-title map">
                                <span class="inner">MAP</span>
                            </li>
                        </ul>
                        <div class="tab-content-wrap">
                            <div class="tab-content">
                                <div class="item-content">
                                    <div class="img-single-small">
                                        <img src="../../../assets/images/events/img-small.png" alt="bookflare">
                                    </div>
                                    <div class="text-wrap">   
                                        <h6 class="title"><a href="#">Limitless Learning, Limitless Possibilities</a></h6>
                                        <p class="text">Lorem Ipsn gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accum dolor same mipsum rvelit. </p>
                                    </div>
                                    <div class="text-wrap">
                                        <h6 class="title"><a href="#">About This Event</a></h6>
                                        <p class="text">Per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent tacitio sociosqu ad litora torquent.</p>
                                    </div>
                                    <div class="img-single">
                                        <img src="../../../assets/images/events/event-detail-2.png" alt="bookflare">
                                    </div>
                                    <div class="text-wrap">
                                        <h6 class="title"><a href="#">Learn and Master Motion Graphics and Visual Effects in After Effects</a></h6>
                                        <p class="text">
                                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classi-cal Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consecte-tur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                                        </p>
                                        <p class="text">
                                            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914.
                                        </p>

                                        <div class="wrap-btn">
                                            <a href="#" class="flat-button btn-google border-ra4">+ GOOGLE CALENDAR</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content">
                                <div class="item-content">
                                    <div class="img-single-small">
                                        <img src="../../../assets/images/events/img-small.png" alt="bookflare">
                                    </div>
                                    <div class="text-wrap">   
                                        <h6 class="title"><a href="#">Limitless Learning, Limitless Possibilities</a></h6>
                                        <p class="text">Lorem Ipsn gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accum dolor same mipsum rvelit. </p>
                                    </div>
                                    <div class="text-wrap">
                                        <h6 class="title"><a href="#">About This Event</a></h6>
                                        <p class="text">Per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent tacitio sociosqu ad litora torquent.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content">
                                <div class="item-content">
                                    <h1>No Map</h1>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /.flat-tabs -->
                </div> <!-- /.content-page-wrap -->
            </div>  <!-- /.col-md-8 -->
            <div class="col-lg-4 col-md-12 ">
                <div class="sidebar-right">
                    <div class="widget-counter">
                        <div class="flat-counter clearfix flat-text-center count-time" data-day="20" data-month="12" data-year="2019" data-hour="12" data-minute="12" data-second="12">
                            <div class="counter one-of-four days">
                                <div class=" border-f-e6f3ff border-ra4">
                                    <div class="numb">
                                        12
                                    </div>
                                    <div class="text">
                                        DAYS
                                    </div>
                                </div>
                            </div>
                            <div class="counter one-of-four hours ">
                                <div class=" border-f-e6f3ff border-ra4">
                                    <div class="numb">
                                        9
                                    </div>
                                    <div class="text">
                                        HOURS
                                    </div>
                                </div>
                            </div>
                            <div class="counter one-of-four minutes">
                                <div class=" border-f-e6f3ff border-ra4">
                                    <div class="numb">
                                        26
                                    </div>
                                    <div class="text">
                                        MINUTES
                                    </div>
                                </div>
                            </div>
                            <div class="counter one-of-four seconds ">
                                <div class=" border-f-e6f3ff border-ra4">
                                    <div class="numb">
                                        59
                                    </div>
                                    <div class="text">
                                        SECONDS
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /.widget-counter -->
                    <div class="widget-event-detail border-f-e6f3ff">
                        <h4 class="widget-title flat-text-center">Event Details</h4>
                        <p class="description flat-text-center">Netus et malesuad fames ac tmgest blandi cursus risuar etiam non puam lacus. </p>
                        <ul class="list-detail">
                            <li class="slot clearfix">
                                <span class="title">TOTAL SLOT</span>
                                <span class="value"> 150</span>
                            </li>
                            <li class="cost clearfix">
                                <span class="title">COST</span>
                                <span class="value"> $40.00 </span>
                            </li>
                            <li class="start-time clearfix">
                                <span class="title">START TIME</span>
                                <span class="value"> 9 : 00 AM</span>
                            </li>
                            <li class="end-time clearfix">
                                <span class="title">END TIME</span>
                                <span class="value"> 3 : 00 PM</span>
                            </li>
                            <li class="location clearfix">
                                <span class="title">LOCATION</span>
                                <span class="value">MELBOURNE</span>
                            </li>                             
                        </ul>

                        <div class="wrap-btn flat-text-center">
                            <a href="#" class="flat-button btn-book-now border-ra4">BOOK NOW!</a>
                        </div>    
                    </div>
                </div> <!-- /.sidebar-right -->
            </div> <!-- /.col-md-4 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->

    <br><br>