  <app-page-title [params]="params"></app-page-title>
  <br><br><br>

 
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 ">
                <div class="content-page-wrap ">
                    <div class="event-detail">
                        <div class="img-single">
                            <img src="../../../assets/{{event.coverImg}}" class="img-cover" alt="bookflare">
                        </div>
                        <div class="content">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="author">
                                        <div class="author-avata">
                                            <img src="../../../assets/{{event.organizerPic}}" alt="bookflare">
                                        </div>
                                        <div class="author-info">
                                            <h4 class="name"><a>Organized by {{event.organizerName}}</a></h4>
                                            <p class="text color-192836">{{event.organizerPosition}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="wrap-btn flat-text-right">
                                        <a href="{{event.ticketUrl}}" target="_blank" class="flat-button btn-get-ticket">GET TICKET</a>
                                    </div>
                                </div>    
                            </div>
                        </div>
                    </div> <!-- /.event-detail -->
                    <div class="flat-tabs bg-fff border-ra4 border-f-e6f3ff">
                        <ul class="tab-title style1 clearfix border-bt-e6f3ff"> 
                            <li class="item-title  overview">
                                <span class="inner">OVERVIEW</span>
                            </li><li class="item-title event">
                                <span class="inner">EVENT PARTICIPANTS</span>
                            </li><li class="item-title map">
                                <span class="inner">MAP</span>
                            </li>
                        </ul>
                        <div class="tab-content-wrap">
                            <div class="tab-content">
                                <div class="item-content" [innerHtml]="event.overview">  
                                </div>
                            </div>
                            <div class="tab-content">
                                <div class="item-content">
                                    {{event.description}}
                                </div>
                            </div>
                            <div class="tab-content">
                                <div class="item-content" >
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3237.4448949148446!2d10.838548715242993!3d35.76444638017509!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x130212d6df016097%3A0x528cc1e524eece77!2sHigher+Institute+for+Computer+Science+and+Mathematics+of+Monastir!5e0!3m2!1sen!2stn!4v1556481375316!5m2!1sen!2stn" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /.flat-tabs -->
                    <br>
                    <div class="fb-comments">
                        <fb-comments></fb-comments>
                    </div>
                </div> <!-- /.content-page-wrap -->
            </div>  <!-- /.col-md-8 -->
            <div class="col-lg-4 col-md-12 ">
                <div class="sidebar-right">
                    <div class="widget-counter">
                        <div class="flat-counter clearfix flat-text-center count-time" data-day="16" data-month="05" data-year="2019" data-hour="8" data-minute="25" data-second="10">
                            <div class="counter one-of-four days">
                                <div class=" border-f-e6f3ff border-ra4">
                                    <div class="numb">
                                        {{diffTime.days}}
                                    </div>
                                    <div class="text">
                                        DAYS
                                    </div>
                                </div>
                            </div>
                            <div class="counter one-of-four hours ">
                                <div class=" border-f-e6f3ff border-ra4">
                                    <div class="numb">
                                        {{diffTime.hours}}
                                    </div>
                                    <div class="text">
                                        HOURS
                                    </div>
                                </div>
                            </div>
                            <div class="counter one-of-four minutes">
                                <div class=" border-f-e6f3ff border-ra4">
                                    <div class="numb">
                                        {{diffTime.minutes}}
                                    </div>
                                    <div class="text">
                                        MINUTES
                                    </div>
                                </div>
                            </div>
                            <div class="counter one-of-four seconds ">
                                <div class=" border-f-e6f3ff border-ra4">
                                    <div class="numb">
                                        {{diffTime.seconds}}
                                    </div>
                                    <div class="text">
                                        SECONDS
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /.widget-counter -->
                    <div class="widget-event-detail border-f-e6f3ff">
                        <h4 class="widget-title flat-text-center">Event Details</h4>
                        <p class="description flat-text-center">{{event.description}}</p>
                        <ul class="list-detail">
                            <li class="slot clearfix">
                                <span class="title">TOTAL SLOT</span>
                                <span class="value"> {{event.totalSlot}}</span>
                            </li>
                            <li class="cost clearfix">
                                <span class="title">COST</span>
                                <span class="value">{{event.cost}} DT</span>
                            </li>
                            <li class="start-time clearfix">
                                <span class="title">START TIME</span>
                                <span class="value"> {{time.getHours(startTime)}} : {{time.getMinutes(startTime)}}</span>
                            </li>
                            <li class="end-time clearfix">
                                <span class="title">END TIME</span>
                                <span class="value"> {{time.getHours(endTime)}} : {{time.getMinutes(endTime)}}</span>
                            </li>
                            <li class="location clearfix">
                                <span class="title">LOCATION</span>
                                <span class="value">{{event.location}}</span>
                            </li>                             
                        </ul>

                        <div class="wrap-btn flat-text-center">
                            <a href="{{event.ticketUrl}}" target="_blank" class="flat-button btn-book-now border-ra4">BOOK NOW!</a>
                        </div>    
                    </div>
                </div> <!-- /.sidebar-right -->
            </div> <!-- /.col-md-4 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->

    <br><br>