.title> a {
    color: black;
    font-weight: bold;
}

.title> a:hover {
    color: #3596D9;
}
.course {
    min-height: 320px;
}
.cover-img {
    height: 180px;
}
.load-more {
    text-align: center;
}

.loading-gif {
    width: 40px;
}

.myInput {
    background-color: white;
    border-color: grey;
    color: black;
    height: 40px;
}
.myInput:hover {
    border-color: #1A97D7;
}
.mySpace {
    width: 30px;
}
.noData {
    margin-top: 70px;
}

.nz-row {
    overflow: hidden; 
}
.gutter-row {
    margin-bottom: 30px;
  }
.username {
    color: green;
}

/* cat */
.cat {
    margin-bottom: 20px; 
}
.cat-btn {
    color: #15222E; 
    cursor: pointer; 
}
.cat-btn:hover {
    color: #1A97D7; 
}
.cat-active {
    cursor: default;
    color: #1A97D7;
}
.seperator {
    color: #d2d4d8;
    padding: 4px;
}
