a {
    color: #192836;
    cursor: pointer;
}
a:hover {
    color: #3596D9;
}

.meta-date {
    vertical-align: middle !important;
    padding: 0;
}

.meta-date> span {
    display: block;
}

.event-content {
    padding: 0 !important;
    padding-top: 30px !important;
}

.load-more {
    text-align: center;
}

.loading-gif {
    width: 40px;
}

.myInput {
    background-color: white;
    border-color: grey;
    color: black;
    height: 40px;
}
.myInput:hover {
    border-color: #1A97D7;
}
.mySpace {
    width: 30px;
}
.noData {
    margin-top: 70px;
}