<div class="content-page-wrap">
  <div class="flat-events style1">
      <br><br>
      <div *ngFor="let event of events; index as i"> <!-- ************ for boucle begin ********************** -->
            <div class="event style1 v1" *ngIf="i%2 == 0"> 
                    <div class="row">
                        <div class=" col-lg-7 col-md-12">
                            <div class="event-img">
                                <a href="#"><img src="../../../../assets/{{event.coverImg}}" alt="bookflare"></a>
                                <div class="meta-date flat-text-center">
                                    <span class="day">{{time.getDate(startTime[i])}}</span>
                                    <span class="month">{{time.getMonth(startTime[i]).toUpperCase()}}</span>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-5 col-md-12">
                            <div class="event-content">
                                    <div class="meta-datetime">
                                            <ul class="list">
                                                <li><a href="#"> {{time.getDay(startTime[i])}} </a></li>
                                                <li><a href="#"> {{time.getMonth(startTime[i])}} {{startTime[i].getDate()}} </a></li>
                                                <li><a href="#"> {{time.getHours(startTime[i])}} : {{time.getMinutes(startTime[i])}} </a></li> 
                                                <li><a href="#"> {{event.location}}</a></li> 
                                            </ul>
                                        </div>
          
                                <div class="content">
                                    <h3 class="title"><a href="event/{{event._id}}">{{event.title}}</a></h3>
                                    <p class="description">{{event.description}}</p>                                
                                </div>
          
                                <div class="author clearfix">
                                    <div class="author-avata">
                                        <img src="../../../../assets/{{event.organizerPic}}" alt="bookflare">
                                    </div> 
                                    <div class="author-info">
                                        <h4 class="name">Organized By {{event.organizerName}}</h4>
                                        <p class="text">{{event.organizerPosition}}</p>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  <!-- first event style 1-->

                <div class="event style1 v2" *ngIf="i%2 != 0">
                        <div class="row">
                            <div class=" col-lg-5 col-md-12">
                                <div class="event-content">
                                        <div class="meta-datetime">
                                                <ul class="list">
                                                    <li><a href="#"> {{time.getDay(startTime[i])}} </a></li>
                                                    <li><a href="#"> {{time.getMonth(startTime[i])}} {{startTime[i].getDate()}} </a></li>
                                                    <li><a href="#"> {{time.getHours(startTime[i])}} : {{time.getMinutes(startTime[i])}} </a></li> 
                                                    <li><a href="#"> {{event.location}}</a></li>
                                                </ul>
                                            </div>
              
                                    <div class="content">
                                        <h3 class="title"><a href="event/{{event._id}}">{{event.title}}</a></h3>
                                        <p class="description">{{event.description}}</p>
                                    </div>
              
                                    <div class="author clearfix">
                                        <div class="author-avata">
                                            <img src="../../../../assets/{{event.organizerPic}}" alt="bookflare">
                                        </div> 
                                        <div class="author-info">
                                                <h4 class="name">Organized By {{event.organizerName}}</h4>
                                                <p class="text">{{event.organizerPosition}}</p>
                                            </div> 
                                    </div>
                                </div>
                            </div>
                            <div class=" col-lg-7 col-md-12">
                                <div class="event-img">
                                    <a href="#"><img src="../../../../assets/{{event.coverImg}}" alt="bookflare"></a>
                                    <div class="meta-date flat-text-center">
                                        <span class="day">{{time.getDate(startTime[i])}}</span>
                                        <span class="month">{{time.getMonth(startTime[i]).toUpperCase()}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- second event style 2-->
      </div> <!-- ************ for boucle begin ********************** -->

      
  </div> <!-- /.flat-events **********************************************************   -->