<button nz-button nzType="primary" (click)="createTplModal(tplTitle, tplContent, tplFooter)"><i class="fas fa-plus-circle"></i> Add</button>
<span class="mySpace"></span>
<button nz-button (click)="loadData()" nzType="primary"><i class="fas fa-redo-alt"></i> Refresh</button>
    <nz-table #editRowTable nzBordered [nzData]="listOfData">
      <thead>
        <tr>
          <th nzWidth="30px">Nb.</th>
          <th nzWidth="120px">Photo</th>
          <th>Title</th>
          <th>Category</th>
          <th>Published</th>
          <th>Private</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of editRowTable.data; index as i" class="editable-row">
          <td>{{ data.nb }}</td>
          <td>
            <img class="photo" src="{{data.photo}}" alt="">
          </td>
          <td>
            {{ data.title }} 
            <span style="float: right">  
              <a href="/project/{{ data.id }}" target="_blank" *ngIf="data.verified == true">
                <i class="fas fa-external-link-alt"></i> View
              </a>
              <span class="mySpace" *ngIf="data.verified == true"></span>
              <span class="badge badge-success" *ngIf="data.verified == true">Verified</span>
              <span class="badge badge-danger" *ngIf="data.verified == false">Unverified</span>
              <span class="badge badge-warning" *ngIf="data.verified == null">Processing...</span>
            </span>
          </td>
          <td>{{ data.category }}</td>
          <td>
            <nz-switch [(ngModel)]="data.published" [nzControl]="true" (click)="updateProject(data.nb, 'published')" [nzLoading]="loading"></nz-switch>
          </td>
          <td>
            <nz-switch [(ngModel)]="data.private" [nzControl]="true" (click)="updateProject(data.nb, 'private')" [nzLoading]="loading"></nz-switch>
          </td>
          <td class="allign-actions">
            <div class="editable-row-operations">
              <ng-container>
                <a title="Edit" (click)="createTplModal(tplTitle, tplContent, tplFooter, data.nb)">
                  <i style="font-size:20px;" nz-icon [nzType]="'edit'" [nzTheme]="'twotone'"
                    [nzTwotoneColor]="'#52c41a'"></i>
                </a>
                <span class="mySpace"></span>
                <a *ngIf="data.private" title="Edit" (click)="showModal(i)" data-toggle="collapse"
                  data-target="#collapseform"><i style="font-size:20px;" nz-icon [nzType]="'unlock'" [nzTheme]="'outline'"
                    [nzTwotoneColor]="'#52c41a'"></i></a>
                <span *ngIf="data.private" class="mySpace"></span>
                <a title="Delete" nz-popconfirm nzTitle="Delete this project ?"
                  (nzOnConfirm)="deleteRow(data.id,data.nb)">
                  <i style="font-size:20px;" nz-icon [nzType]="'delete'" [nzTheme]="'twotone'"
                    [nzTwotoneColor]="'#f73e3e'"></i></a>
              </ng-container>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
<!--********************   popup to authorize users ************************-->
<nz-modal [(nzVisible)]="authorizedIsVisible" nzTitle="Authorized users" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <h5>Let other users see your private project !</h5>
  <input nz-input placeholder="Enter a valid username" [(ngModel)]="popupUsername" class="myInput"/>
  <span style="color: red; cursor: pointer;" *ngIf="authorizedPopupData.err" (click)="authorizedPopupData.err = ''">
    {{authorizedPopupData.err}}
  </span>
  <br><br>
  <button nz-button nzType="primary" (click)="authorizeUser()">Add to list</button>
  <h6>list of authorized users:</h6>
  <p *ngFor="let username of authorizedPopupData.usernames; index as i">
    @{{username}}<span class="mySpace"></span>
    <i class="fas fa-times-circle delete-user-popup" style="color: red" (click)="deleteAuthorizeUser(i)"></i>
  </p>
</nz-modal>
<!--********************   popup to add a project   ************************-->
      <ng-template #tplTitle>
        <span>Add new project</span>
      </ng-template>
      <ng-template #tplContent>
        <!-- title -->
        <div nz-row>
          <div nz-col nzSpan="3">
            <label for="title">Title:</label>
          </div>
          <div nz-col nzSpan="18">
            <input nz-input id="title" placeholder="Project title" [(ngModel)]="popupData.title" />
          </div>
        </div><br>
        <!-- upload photo -->
        <div nz-row>
          <div nz-col nzSpan="3">
            <label for="description">Cover photo:</label>
          </div>
          <div nz-col nzSpan="18">
            <div *ngIf="popupData.coverImg">
              <img src="{{popupData.coverImg}}" style="width: 300px; border-radius:5px" alt="">
              <span class="mySpace"></span>
              <button nz-button nzType="danger" nz-popconfirm nzTitle="You'll abandon the current image ?"
              (nzOnConfirm)="popupData.coverImg = null">
                <i class="fas fa-image"></i> Change picture
              </button>
            </div>
            <div class="clearfix" *ngIf="!popupData.coverImg">
              <nz-upload
                class="upload-list-inline"
                nzAction="http://localhost:3000/api/upload"
                [nzLimit]="1"
                [nzDisabled] = "isUploadDisabled(1,'photo')"
                nzListType="picture"
                [(nzFileList)]="photo"
              >
                <button nz-button>
                  <span><i nz-icon type="upload"></i> Upload</span>
                </button>
              </nz-upload>
            </div>      
          </div>
        </div><br>
        <!-- category -->
        <div nz-row>
          <div nz-col nzSpan="3">
            <label for="category">Category:</label>
          </div>
          <div nz-col nzSpan="6">
            <nz-select style="width: 150px;" [(ngModel)]="popupData.category" nzAllowClear nzPlaceHolder="Choose">
              <nz-option *ngFor="let category of categories" nzValue="{{category.name}}" nzLabel="{{category.name}}"></nz-option>
            </nz-select>         
          </div>
          <div nz-col nzSpan="3">
            <label for="category">Published:</label>
          </div>
          <div nz-col nzSpan="2">
            <nz-switch [(ngModel)]="popupData.published"></nz-switch>    
          </div>
          <div nz-col nzSpan="2">
            <label for="category">Private:</label>
          </div>
          <div nz-col nzSpan="2">
            <nz-switch [(ngModel)]="popupData.private"></nz-switch>    
          </div>
        </div><br>
        <!-- description -->
        <div nz-row>
          <div nz-col nzSpan="3">
            <label for="description">Description:</label>
          </div>
          <div nz-col nzSpan="18">
            <textarea rows="3" nz-input id="description" placeholder="Project description..." [(ngModel)]="popupData.description"></textarea>
          </div>
        </div><br>
        <!-- upload attachments -->
        <div nz-row>
          <div nz-col nzSpan="3">
            <label for="description">Attachments:</label>
          </div>
          <div nz-col nzSpan="18">
            <nz-upload nzAction="http://localhost:3000/api/upload" [nzLimit]="1" [nzDisabled] = "isUploadDisabled(3)" [(nzFileList)]="attachments">
              <button nz-button><i nz-icon type="upload"></i><span>Upload</span></button>
            </nz-upload>     
          </div>
        </div><br>
        <!-- editor-->
        <label for="editor">Overview:</label>
        <ckeditor [(ngModel)]="popupData.overview" [editor]="Editor"></ckeditor>
      </ng-template>
      <ng-template #tplFooter>
        <button nz-button nzType="primary" (click)="destroyTplModal()" [nzLoading]="tplModalButtonLoading">
          confirm
        </button>
      </ng-template>