button {
    margin-bottom: 16px;
  }

  .editable-cell {
    position: relative;
  }

  .editable-cell-value-wrap {
    padding: 5px 12px;
    cursor: pointer;
  }

  .editable-row:hover .editable-cell-value-wrap {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 4px 11px;
  }

/*  input change style  */
.myInput {
  background-color: white;
  border-color: grey;
  color: black;
  height: 40px;
}
.myInput:hover {
  border-color: #1A97D7;
}

.mySpace {
  margin: 10px;
}

.photo {
  height: 50px;
  width: 80px;
}

.input-w label, .input-w input {
  float: none; /* if you had floats before? otherwise inline-block will behave differently */
  display: inline-block;
  vertical-align: middle;    
}

/* upload photo */
i[nz-icon] {
  font-size: 32px;
  color: #999;
}
.ant-upload-text {
  margin-top: 8px;
  color: #666;
}

.badge {
  color: white !important;
  font-weight: 500;
  padding: 5px;
}

.anticon-close-circle {
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
  font-size: 12px;
}

.anticon-close-circle:hover {
  color: #999;
}

.anticon-close-circle:active {
  color: #666;
}

.delete-user-popup {
  cursor: pointer;
}