<section class="flat-testimonials style3">
    <div class="container">
        <div class="flat-title flat-text-center">
            <h1 class="title">What Our Users Say</h1>
        </div>
        <div class="flat-carousel"  data-column="2" data-column2="1" data-loop="true"  data-column3="1" data-gap ="30" data-dots="false" data-nav="false" >
            <div class="wrap-testimonials clearfix owl-carousel">
                <div class="testimonial clearfix">
                    <div class="wrap-avata-socails flat-text-center">
                        <div class="avata">
                            <a href="#"><img src="../../../../assets/{{feedback[0].img}}" alt="bookflare"></a>
                        </div>
                    </div>
                    <div class="wrap-content">
                        <div class="info">
                            <h4 class="name"><a href="#">{{feedback[0].name}}</a></h4>
                            <p class="position">{{feedback[0].position}}</p>
                        </div>
                        <blockquote>
                            {{feedback[0].review}}
                        </blockquote>
                    </div>
                </div>
                <div class="testimonial clearfix top-110">
                    <div class="wrap-avata-socails  flat-text-center">
                        <div class="avata">
                            <a href="#"><img src="../../../../assets/{{feedback[1].img}}" alt="bookflare"></a>
                        </div>
                    </div>
                    <div class="wrap-content">
                        <div class="info">
                            <h4 class="name"><a href="#">{{feedback[1].name}}</a></h4>
                            <p class="position">{{feedback[1].position}}</p>
                        </div>
                        <blockquote>
                            {{feedback[1].review}}
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- flat-testimonials -->