<nz-layout>
    <nz-sider style="overflow: auto; height: 100vh; position: fixed; left: 0">
      <div class="logo">
        <a href="/"><img class="logo-img" src="../../../assets/images/logo/logo-ft.png" alt="Logo"></a>
      </div>
      <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'">
        <li nz-menu-item>
          <a [routerLink]="['./']"><i class="fas fa-tachometer-alt"></i><span class="nav-text">Dashboard</span></a>
        </li>
        <li nz-menu-item>
          <a [routerLink]="['profile']"><i class="fas fa-user"></i><span class="nav-text">My profile</span></a>
        </li>
        <li nz-menu-item>
          <a [routerLink]="['messages']"><i class="fas fa-envelope"></i><span class="nav-text">Messages</span></a>
        </li>
        <li nz-menu-item>
          <a [routerLink]="['projects']"><i class="fas fa-lightbulb"></i><span class="nav-text">Projects manager</span></a>
        </li>
        <li nz-menu-item>
          <a [routerLink]="['courses']"><i class="fas fa-book-reader"></i><span class="nav-text">My courses</span></a>
        </li>
        <li nz-submenu>
            <span title><i class="fas fa-archive"></i><span class="nav-text">Team</span></span>
          <ul>
            <li nz-menu-item>Team 1</li>
            <li nz-menu-item>Team 2</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout style="margin-left: 200; min-height: 100vh;">
      <nz-header style="background: #fff; padding:0; text-align: right;">
        <div class="header">
          <img src="../../../assets/{{loggedUser.profilpic}}" class="inline user-avatar" alt="Avatar" *ngIf="!externelPorfilPicUrl(loggedUser.profilpic)">
          <img src="{{loggedUser.profilpic}}" class="inline user-avatar" alt="Avatar" *ngIf="externelPorfilPicUrl(loggedUser.profilpic)">
          <p class="inline">Hello <strong>{{loggedUser.fullName}}</strong> !</p>
          <button nz-button nzType="primary" class="inline" (click)="gotToHomepage()"><i class="fas fa-home"></i> Go to Homepage</button>
          <button nz-button nzType="primary" class="inline" (click)="logOut()"><i class="fas fa-sign-out-alt"></i> LogOut</button>
        </div>
      </nz-header>
      <nz-content style="margin:24px 16px 0;overflow: initial">
        <div style="padding: 24px; background: #fff; text-align: center">
            <router-outlet></router-outlet>
        </div>
      </nz-content>
      <nz-footer style="text-align: center;">Mystart ©2019 All rights reserved.</nz-footer>
    </nz-layout>
  </nz-layout>