.courses-grid-v3-page {
    padding-top: 0;
}

a {
    color: #192836;
    cursor: pointer;
}
a:hover {
    color: #3596D9;
}

.activeCat>a {
    color: #1A97D7;
}

.activeCat>a {
    color: #1A97D7;
    font-weight: bold;
    cursor: default;
}

.myInput {
    background-color: white;
    border-color: grey;
    color: black;
    height: 40px;
  }
  .myInput:hover {
    border-color: #1A97D7;
  }
  .mySpace {
    width: 30px;
  }

  .active>a {
      cursor: default;
  }