<app-page-title [params]="params"></app-page-title>

  <div class="content-wrap  courses-grid-v3-page">
    <div class="content-page-fullwidth-wrap clearfix pd-top-45">
        <div class="container-fluid ">
            <div class="sidebar-left">
                <div class="widget-categories border-f-e6f3ff">
                    <h6 class="title-widget">FILTER</h6>
                    <div class="content">
                        <div>
                            <input type="text" class="myInput" placeholder="input search keywords" [(ngModel)]="keywords" (input)="filterResult()" />
                        </div>
                        <br>
                        <div>
                            <nz-radio-group [(ngModel)]="price" [nzButtonStyle]="'solid'" nzSize="normal">
                                <label nz-radio-button nzValue="All" (click)="filterResult()">All</label>
                                <label nz-radio-button nzValue="Free" (click)="filterResult()">Free</label>
                                <label nz-radio-button nzValue="Paid" (click)="filterResult()">Paid</label>
                            </nz-radio-group>
                        </div>
                        <br>
                        <div>
                            <button nz-button nzType="danger" nzSize="normal" (click)="clearFilter()" *ngIf="!isClear()" ><i class="fas fa-times"></i> Clear all</button>
                        </div>
                    </div>
                </div> <!-- /.widget-categories -->
                <div class="widget-categories border-f-e6f3ff mg-bottom-30">
                    <h6 class="title-widget">CATEGORIES</h6>
                    <div class="content">
                        <ul>
                            <li class="{{isActive('all')}}"><a (click)="filterByCat('all')">All</a></li>
                            <li *ngFor="let category of categories" class="{{isActive(category.name)}}"><a (click)="filterByCat(category.name)">{{category.name}}</a></li>
                        </ul>
                    </div>
                </div> <!-- /.widget-categories -->
            </div> <!-- /.sidebar-left -->
            <div class="content-page pd-left-30 ">
                <div class="heading clearfix border-f-e6f3ff border-ra4">
                    <div class="taskbar">
                        <ul class="list">
                            <li><span class="color-f3728b font-Poppins font-weight-700"> {{coursesNbr}}</span> Courses</li>
                        </ul>
                    </div>
                    <div class="select-order flat-text-right">
                        <div class="wrap-select">
                            <select class="order-by" [(ngModel)]="sortBy">
                                <option>release date</option>
                                <option>price</option>
                            </select>
                        </div>
                    </div>
                    <div class="select-order flat-text-right" style="margin-top: 10px; margin-right: 10px; font-size: 13px;">
                        <p>Sort by:</p>
                    </div>
                </div> <!--  /.heading -->
                <div class="flat-courses style4">
                    <div class="course style4 text-2ebd59 " *ngFor="let course of courses; index as i"> <!--single course card-->
                        <div class="course-border border-f-e6f3ff border-ra4 clear-sub-columns transition-vline">   
                            <div class="course-img-box">
                                <div class="course-img img-vline">
                                    <a href="#"><img src="../../../assets/{{course.coverImg}}" alt="bookflare"></a>
                                    <div class="overlay">
                                        <span class="vline"></span>
                                        <span class="vline vline-bottom"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="course-content">
                                <div class="text-wrap border-bt-e6f3ff">
                                    <h6 class="title"><a href="course/{{course._id}}">{{course.title}}</a></h6>
                                    <p class="teacher"><a href="course/{{course._id}}">{{course.authorRes[0].username}}</a></p>
                                    <p class="description">{{course.description}}</p>
                                </div>
                                <div class="wrap-rating-price">
                                    <ul class="list meta-rate">
                                        <li>
                                            <nz-rate [ngModel]="course.rate" nzDisabled nzAllowHalf></nz-rate>
                                            <span></span><span>{{course.rate}}  ({{course.reviews.length}}) </span>
                                        </li>
                                        <li>
                                            <span> {{time.getMonth(course.createdAt)}} {{course.createdAt.getDate()}}, {{course.createdAt.getFullYear()}}</span>
                                        </li>
                                    </ul>
                                    <span class="price">{{course.price}}</span>
                                </div>
                            </div>
                        </div>
                    </div> <!-- single course card end-->
                </div>
                <div class="flat-paginations">
                    <ul class="list flat-text-left pagination-wrap">
                        <li class="disabled"><a href="#" class="btn-navs">PRE</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#" class="btn-navs">NEXT</a></li>
                    </ul>
                </div>
            </div> <!-- /.content-page -->
        </div>
    </div>
</div>