<section class="flat-services flat-popular-courses style3">
  <div class="container">
      <div class="flat-tabs ">
          <ul class="tab-title clear-sub-columns style5"> 
              <li class="item-title one-of-four">
                  <div class="iconbox style4 flat-text-center one">
                      <div class="iconbox-content">
                          <h6 class="title"><a href="#">Entrepreneur</a></h6>
                      </div>
                  </div>
              </li>
              <li class="item-title one-of-four">
                  <div class="iconbox style4 flat-text-center two">
                      <div class="iconbox-content">
                          <h6 class="title"><a href="#">Investor</a></h6>
                      </div>
                  </div>
              </li>
              <li class="item-title one-of-four">
                  <div class="iconbox style4 flat-text-center four">
                      <div class="iconbox-content">
                          <h6 class="title"><a href="#">Expert</a></h6>
                      </div>
                  </div>
              </li>
          </ul>
          <div class="tab-content-wrap">
              <div class="tab-content box-shadow ">
                  <div class="item-content clearfix">
                      <div class="img flat-text-center">
                          <img src="../../../../assets/myDocs/home/entrepreneur.png" alt="bookflare">
                      </div>
                      <div class="text-wrap img-right clearfix">
                          <h4 class="title"><a href="#">Lorem ipsum dolor set amet 1</a></h4>
                          <p class="text">Smply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Smply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s when an unknown printerit to make a type specimen book. Smply dummy text of the printing and typesetting industry.</p>
                          <div class="wrap-btn">
                              <a href="#" class="btn-register">REGISTER NOW</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="tab-content box-shadow ">
                  <div class="item-content clearfix">
                      <div class="img flat-text-center">
                          <img src="../../../../assets/myDocs/home/investor.png" alt="bookflare">
                      </div>
                      <div class="text-wrap img-right clearfix">
                          <h4 class="title"><a href="#">Learning Possibilities 2</a></h4>
                          <p class="text">Smply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Smply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s when an unknown printerit to make a type specimen book. Smply dummy text of the printing and typesetting industry.</p>
                          <div class="wrap-btn">
                              <a href="#" class="btn-register">REGISTER NOW</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="tab-content box-shadow ">
                  <div class="item-content clearfix">
                      <div class="img flat-text-center">
                          <img src="../../../../assets/myDocs/home/expert.png" alt="bookflare">
                      </div>
                      <div class="text-wrap img-right clearfix">
                          <h4 class="title"><a href="#">Learning Possibilities 3</a></h4>
                          <p class="text">Smply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Smply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s when an unknown printerit to make a type specimen book. Smply dummy text of the printing and typesetting industry.</p>
                          <div class="wrap-btn">
                              <a href="#" class="btn-register">REGISTER NOW</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="tab-content box-shadow ">
                  <div class="item-content clearfix">
                      <div class="img flat-text-center">
                          <img src="images/feature/img-tab.png" alt="bookflare">
                      </div>
                      <div class="text-wrap img-right clearfix">
                          <h4 class="title"><a href="#">Learning Possibilities</a></h4>
                          <p class="text">Smply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Smply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s when an unknown printerit to make a type specimen book. Smply dummy text of the printing and typesetting industry.</p>
                          <div class="wrap-btn">
                              <a href="#" class="btn-register">REGISTER NOW</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div> <!-- /.flat-tabs -->
  </div>
</section> <!-- /.flat-services -->