<section class="flat-services flat-popular-courses style3">
  <div class="container">
      <div class="flat-tabs ">
          <ul class="tab-title clear-sub-columns style5"> 
              <li class="item-title one-of-four">
                  <div class="iconbox style4 flat-text-center one">
                      <div class="iconbox-content">
                          <h6 class="title"><a href="#">Entrepreneur</a></h6>
                      </div>
                  </div>
              </li>
              <li class="item-title one-of-four">
                  <div class="iconbox style4 flat-text-center two">
                      <div class="iconbox-content">
                          <h6 class="title"><a href="#">Investor</a></h6>
                      </div>
                  </div>
              </li>
              <li class="item-title one-of-four">
                  <div class="iconbox style4 flat-text-center four">
                      <div class="iconbox-content">
                          <h6 class="title"><a href="#">Expert</a></h6>
                      </div>
                  </div>
              </li>
          </ul>
          <div class="tab-content-wrap">
              <div class="tab-content box-shadow ">
                  <div class="item-content clearfix">
                      <div class="img flat-text-center">
                          <img src="../../../../assets/{{actorsData.entrepreneur.img}}" alt="bookflare">
                      </div>
                      <div class="text-wrap img-right clearfix">
                          <h4 class="title"><a href="#">{{actorsData.entrepreneur.title}}</a></h4>
                          <p class="text">{{actorsData.entrepreneur.desc}}</p>
                          <div class="wrap-btn">
                              <a href="#" class="btn-register">REGISTER NOW</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="tab-content box-shadow ">
                  <div class="item-content clearfix">
                      <div class="img flat-text-center">
                          <img src="../../../../assets/{{actorsData.investor.img}}" alt="bookflare">
                      </div>
                      <div class="text-wrap img-right clearfix">
                          <h4 class="title"><a href="#">{{actorsData.investor.title}}</a></h4>
                          <p class="text">{{actorsData.investor.desc}}</p>
                          <div class="wrap-btn">
                              <a href="#" class="btn-register">REGISTER NOW</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="tab-content box-shadow ">
                  <div class="item-content clearfix">
                      <div class="img flat-text-center">
                          <img src="../../../../assets/{{actorsData.expert.img}}" alt="bookflare">
                      </div>
                      <div class="text-wrap img-right clearfix">
                          <h4 class="title"><a href="#">{{actorsData.expert.title}}</a></h4>
                          <p class="text">{{actorsData.expert.desc}}</p>
                          <div class="wrap-btn">
                              <a href="#" class="btn-register">REGISTER NOW</a>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
      </div> <!-- /.flat-tabs -->
  </div>
</section> <!-- /.flat-services -->