<section class="flat-video style2 parallax parallax13">
    <div class="overlay"></div>
    <div class="container">
        <div class="video flat-text-center">
            <div class="icon">
                <a class="fancybox videobox-link" data-type="iframe" href="{{flatVideo.url}}">
                    <span class="icon-video"></span>
                    <div class="videobox-animation circle-1" ></div>
                    <div class="videobox-animation circle-2" ></div>
                    <div class="videobox-animation circle-3" ></div>
                </a>
            </div>
            <div class="content">
                <h2 class="title"><a>{{flatVideo.title}}</a></h2>
                <p class="description">{{flatVideo.desc}}</p>
            </div>     
        </div>
    </div>
</section> <!-- /.flat-video -->